*{
	margin: 0;
	padding: 0;
}

body{background: #e3e3e3;}

html,body{
	height: 100%;
}

.container{
	max-width: 95%;
}

.jumbotron {
    padding: 1.4rem 0rem;
}

nav#top-menu{
	background: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

#site-logo{
	width: 60px;
	height: 57px;
	background-color: #003f9a;
	overflow: hidden;
	color: white;
	text-align: center;
	line-height: 57px;
	font-size: 2em;
	text-transform: uppercase;
}

nav#sidemenu{
  background-color: #000B1D;
  position: absolute;
	min-height: calc(100% - 56px);
	z-index: 100;
	top: 56px;
	 will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
	z-index: 997;
	position: absolute;
}

.inner-wrapper-sticky{
	z-index: 999;
}

.left-navigation{
  width: 60px;
}

.left-navigation a{
  display: block;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  position: relative;
}

.left-navigation i{
  background-color: #000B1D;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 1.3rem;
  position: relative;
  transition: all 300 ms ease-in-out;
}

.left-navigation span{
  background-color: #00CD99;
  color: white;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  height: 60px;
  line-height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  visibility: hidden;
  left: 0;
  transition: all 300ms ease-in-out;
  z-index: -1;
}
.left-navigation a:hover span{
  opacity: 1;
  visibility: visible;
  left: 60px;
}
.left-navigation a:hover i {
  background-color: #00CD99;
  color: white;
}

#sidebar{
	min-height: 100%;
	width: 60px;
	float: left;
	z-index: 998;
}

#content{
	float: left;
	width: calc(100% - 60px);
}

#page-nav{background: #003f9a;}
#page-nav .breadcrumb{background: transparent;padding: .75rem 0rem;}
#page-nav .breadcrumb a{color: #00CD99}
#page-nav ol{margin-bottom: 0px;}
#page-nav .breadcrumb-item.active{color: white}
#page-nav .breadcrumb-item+.breadcrumb-item::before {color: white}

.action-buttons {border-radius: 5px;overflow: hidden;padding: 0px;height: 40px}
.action-buttons button{border-radius: 0px;line-height: 40px;padding: 0px 10px;}
.action-buttons i{line-height: 40px;}

.lesson-actions .action-buttons, .module-actions .action-buttons{
	float: right;
}