body {display: flex;min-height: 100vh;flex-direction: column;background: #ececec;}
main {flex: 1 0 auto;} 
.container{width: 90%;}
header{height: 64px;width: 100%}
nav .brand-logo {float: left;position: relative;}
.assinar-feed input[type=text], .assinar-feed .btn{height:36px;margin-top: 10px;}
.success-message{background: #43a047; }
.error-message{background: #e53935;}

#profile-cover{
	width: 100%;
	height: auto;
	background: #0af;
	margin-top: 20px;
	border-radius: 10px 10px 0px 0px;
	float: left;
}

#profile-picture img{height: 180px;}
#profile-picture{
	width:  180px;
	height: 180px;
	margin:20px auto;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

#profile-name{
	display: block;
	font-size: 1.3em;
	line-height: 2.3em;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.2);
}

#profile-links a{color: #0af;border: none;}
#profile-links .active{background: #ffffff;border-left: 5px solid #333;}

#profile-content{
	margin-top: 20px;
	padding: 0px 10px;
	float: left;
}

.profile-page-title{font-size: 2.1em;border-bottom: 1px solid #ccc;margin: 0px;padding: 15px 0px;}