*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{height: 100%}

body{
	background: #e9e5ff;
	font-family: Roboto;
}

#sidebar{
	width: 60px;
	min-height: 100%;
	background: #000f27;
	float: left;
}

#sidebar nav ul li {list-style: none;}
#sidebar nav ul li a{text-decoration: none; color: white;display: block;}
#sidebar nav ul li a:hover{background: white; color:#000f27}
#sidebar nav ul li a i{height: 60px;width: 60px;line-height: 60px;text-align: center;}
#sidebar nav ul li a span{height: 60px;line-height: 60px; position: absolute;padding: 0px 15px;border-radius: 0px 25px 25px 0px;}