.pages-navigation{
  height: 35px;
  line-height: 35px;
}
.pages-navigation .breadcrumb{
  height: 100%;
  padding: 0px;
  padding-left: 25px;
}

.pages-navigation .breadcrumb li{
  line-height: 35px;
}

.action-buttons{
  float: right;
}
.action-buttons .action{
  display: inline-block;
}

#modules-list .card-header{
  height: 70px;
  line-height: 70px;
  padding: 0px 15px;
}

#modules-list .lesson-title i, .module-title i{margin-right: 10px}

#modules-list .card-header .action {line-height:normal; }

#modules-list .module.card{padding: 0px}
#modules-list .lesson.card{padding: 0px}
#modules-list .module .card-body {padding: 20px;}
#modules-list .module .card-body .material .card-body{padding: 0px;}

#modules-list .card-header{background: transparent;border-bottom: none;}

.drag-module, .drag-lesson {float: left;width: 25px;height: 70px;}
.drag-module i, .drag-lesson i{line-height: 70px; cursor: move;}

#modules-list .card-header h5{float: left;line-height: 70px}
.lessons-list{min-height: 1px;}
.material .card, .material .card-body{padding: 0px;}
.material-content{padding: 10px;height: 160px;overflow: hidden;}
.material .card-body{padding: 0px;}
.material img{width: 100%}

.material .card-title{
  width: 100%;
  line-height: 50px;
  height: 50px;
  background-color: azure;
  padding: 0px 15px;
  margin-top: 10px;
  overflow: hidden;
}

.material-link{
  font-size: 1.8em;
}

.module .card-body{background: #eee}
.module .card-body .lesson .card-body{background: #fff}


.admin-course{padding: 0px;}
.admin-course .course-thumbnail{width: 100%;height: 120px;overflow: hidden;}
.admin-course .course-thumbnail img{width: 100%;}
.admin-course .list-group-item{padding: .75rem 0rem;}
.admin-course .card-body{padding: 15px;}
.admin-course .btn-group {width: 100%}
.admin-course .manage-btn {width: calc(100% - 40px)}

.widget{padding: 0px;}
.widget .card-header{padding: 15px 20px;background: transparent; font-size: 1.1em}
.widget .card-body{padding: 20px;}
.ui-state-highlight{background: #ccc}
