html, body {height: 100%;}
body {background-color: #f6fffc;}

nav {
  height: inherit;
  width: 20%;
  background-color: #fff;
  position: fixed;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

main {
  height: inherit;
  width: inherit;
  padding-left: 20%;
}

article {
  height: auto;
  width: 100%;
}

.tab-content {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

.tab-content::-webkit-scrollbar {background: transparent;width: 0px}

.nav-tabs .nav-link {border: none;}
#list-tab .nav-item{line-height: 60px;padding: 0px;}
#list-tab .nav-link{
  padding: 0px;
  height: 100%;
  background: white;
  border-radius: 0px;
  border-bottom: 1px solid #ececec;
  color: #aaa;
}

.nav-link .badge-primary {background: #aaa;}
.nav-link.active .badge-primary {background: #16ceb4;}
#list-tab .nav-link:hover .badge-primary {background: #16ceb4;}
#list-tab .nav-link.active, #list-tab .nav-link:hover  {
  border: none;
  padding: 0px;
  border-bottom: 2px solid #16ceb4;
  color: #16ceb4
}

#nav-tabContent {padding: 10px;}

.content-menu {
  position: relative;
  height: inherit;
  width: 100%;
}

.content-menu > .bottom-menu {
  position: absolute;
  bottom: 0;
  width: inherit;
  padding: 10px;
}

#modules-list.card {
  border: none;
}

#modules-list .module{
  width: 100%;
  background: #fff;
  border: none;
  border-top: 2px solid #16ceb4;
  border-radius: 0px;
  margin: 5px 0px;
  text-align: left;
}


#modules-list .module-header{border-bottom: none;padding: 15px;}
#modules-list .module-header button{color: #16ceb4;padding: 0px}

/* Article */

article .container{width: 90%; max-width: none;padding: 0px;}

.header-lesson {
  text-align: center;
  display: flex;
  background-color: #fff;
  transition-duration: 1s;
  height: 61px;
  line-height: 61px;
  color: #333;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.header-lesson-fixed {
  position: fixed;
  width: 78.4%;
  transition-duration: 1s;
  top: 0;
}

.header-lesson h1{
  font-weight: lighter;
  font-size: 2em;
  line-height: 60px;
  padding: 0px;margin: 0px;
  text-transform: uppercase;
}

.header-lesson .btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  transition-duration: 0.4s;
  vertical-align:baseline;
}

.header-lesson .btn:hover, .header-lesson .btn:active{
  color: #fff;
  background-color: #333;
}
.header-lesson .btn:focus{box-shadow: none;}

.content-lesson {
  background-color: #fefefe;
}

/* Button of menu side */
#btnnavbar {
  margin: 5px 0.5%;
  background-color: #000;
  color: black;
  display: none;
}

.btn-navbar-on {
  color: red !important;
}

/* Responsividade */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  nav {
    width: 80%;
    left: -80%;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  nav {
    width: 50%;
    left: -50%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  nav {
    width: 40% !important;
    left: -40% !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  nav {
    width: 30% !important;
    left: -30% !important;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  nav {
    transition-duration: 1s;
    z-index: 9999;
  }
  .navbar-on {
    left: 0% !important;
    transition-duration: 1s;
    box-shadow: 0px 0px 15px 0px black;
  }
  #btnnavbar {
    display: block;
  }
  main {
    padding-left: 0;
  }
  article {
    padding: 0% 0%;
  }
  .header-lesson {
    height: 50px;
    justify-content: space-between;
  }
  .header-lesson-fixed {
    width: 100%;
  }
  .main-lesson {
    padding: 2% 2%;
  }
}
