html, body {height: 100%;background: #ececec}
.container{width: 90%;}
.full-btn{width: 100%;}
#navbar{
	width: 260px;
	height: 100%;
	background: #263238 ;
	position: fixed;
	top: 0;
	left: 0;
}

#navbar-header{
	position: fixed;
	width: 260px;
	height: 64px;
	border-bottom: 1px solid #37474f;
	padding: 0px 15px;
}

.button-expand{float: left;padding: 0px 10px; height: 64px;color: white;margin-right: 10px}
.button-expand:hover{background: rgba(0,0,0,0.2);}
.button-expand i{line-height: 64px;}

#logo{
	line-height: 64px;
	color: white;
	overflow: hidden;
	font-size: 1.8em;
	float: left;
}

#side-menu {
	width: 260px;
	height: calc(100% - 64px);
	padding:15px 0px;
	overflow: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 64px;
	left: 0;
}

#side-menu::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgba(0,0,0,.3);
}

#side-menu::-webkit-scrollbar{
	width: 10px;
	border-radius: 10px;
}

#side-menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(0,0,0,.3);
}

#side-menu li{display: block;list-style: none;}
#side-menu a{
	display: block;
	padding: 0px 15px;
	line-height: 50px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	transition: 0.4s;
}

#side-menu li ul {background: #122027; display: none;}
#side-menu li ul a{color: #ccc;padding-left: 40px;}
#side-menu li ul a:hover{color: #ccc;padding-left: 40px;}

#side-menu a:hover{background:#37474f; }

#side-menu i.left{line-height: 50px;}
#side-menu i.right{line-height: 50px;}

#topbar {
	width: calc(100% - 260px);
	float: right;
}

#content {
	width: calc(100% - 260px);
	float: right;
}

.success-message, .error-message{
	padding: 10px;
	color: white;
	border-radius: 5px;
	width: 100%;
}
.success-message{background: #43a047; }
.error-message{background: #e53935;}

.widget{
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
}

.widget-title {
	font-size: 1.6em;
	color: #444;
	background: #00838f;
	padding: 10px;
	color: white;
	margin: 0px;
}

.widget-content{
	padding: 10px;
}

.action{float: left;margin-right: 10px;}
.action:last-child{margin-right: 0px;}

.action button{
	border: none;
	color: white;
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	transition: 0.4s;
	line-height: 40px;
}

.action button i{line-height: 40px;}
.breadcrumb{color: #009688  }
.breadcrumb:last-child{color: #4db6ac }
.breadcrumb:before{color: #ccc }

.no-module{padding: 15px;}
.module{width: 100%;display: block;}
.module-header{line-height: 60px;height: 60px;padding: 0px 15px;border-bottom: 1px solid #ccc;}
.module-name{float: left;cursor: pointer;height: 60px;display: block;}
.module-edit{float: left;height: 60px;display: none;}
.module-edit input{height: 60px;}
.module-header .action, .lesson .action{float: right;padding: 5px 0px; margin-left: 10px; margin-right: 0px;}
.module-body{display: none;	border-bottom: 1px solid #ccc;}
.lessons-list{padding: 15px;}
.no-lesson{padding: 15px;}
.create-lesson{width: 100%;height: 60px;padding: 10px 15px;background:#ddd;}
.create-lesson button{height: 40px;}
.lesson{line-height: 50px;border-bottom: 1px solid #ccc;}
.lesson a{color: #26a69a;}
.lesson:last-child{border-bottom:none;}
#create-module{height: 60px;padding: 10px 15px;}
#create-module input{float: left;width: calc(100% - 170px);height: 40px;}
#create-module button{float: right;width: 150px;height: 40px;}
.list-itens{padding: 10px;}

.page-title {height: 50px;margin-top: 30px;margin-bottom: 30px;}
.page-title h2{float: left;font-size: 50px;line-height: 50px;margin: 0px;font-weight: lighter;}
.page-title button{float: left;height: 40px;line-height: 40px;margin: 5px 15px;}

#course-info .info{
	display: inline-block;
	line-height: 50px;
	padding: 0px 10px;
	color: #333;
	font-size: 17px;
	margin-bottom: 15px;
}

#course-info .info:first-child{padding-left: 0px;}
#course-info .info i{line-height: 50px;float: left;margin-right: 10px;}