#welcome-text{
	height: 400px;
	box-sizing: border-box;
	background: #00796b; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #00796b 0%, #009688 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #00796b 0%,#009688 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #00796b 0%,#009688 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-align: center;
	color: white;
	height: 334px;
	box-sizing: border-box;
	padding-top: 70px;
}

#transparent-nav{
	box-shadow: none;
	background: rgba(0,0,0,0.2);
	height: 64px;
}

nav .brand-logo{
	font-weight: bold;
	font-size: 1.7em;
}

#welcome-text h2{font-weight: bold;font-size: 2.1em;}
#welcome-text h3{font-weight: lighter;font-size: 1.6em;}

.benefits{margin-top: -70px;}
.benefit{height: 230px;text-align: center;padding: 20px 10px;}
.benefit h3{font-size: 2.3em;margin: 5px 0px;}
.benefit p{font-size: 1.2em;margin: 0px;}
.benefit-icon{height: 70px;width: auto;}

#how-works p{text-align: justify;font-size: 1.2em;font-weight: normal;color: #333;}
h2.section-title{font-size: 2.3em;margin-bottom: 10px;}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	cursor: pointer;
}

.video {
	background: #101010 url("../images/thumb-video-info.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.video-container img, .video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-container img:hover {opacity: 0.8;}

#our-courses .card-image {width: 100%;overflow: hidden;}
#our-courses .card-image img{height: 162px;width: auto}

#who-use{
	background: #3c3c3c;
	width: 100%;
	height:300px;
	margin-bottom: 50px;
	margin-top: 0px;
}

#who-use h2.section-title{color: #888;font-weight: bold;}

#depoiments{
	height: 160px;
	width: 100%;
	overflow: hidden;
}

.depoiment{
	height: 160px;
	margin: 0px;
	position: relative;
	background: #3c3c3c;
	margin: 15px 0px;
}

.people-info{height: 100px;}
.people-avatar{
	height: 120px;
	width: 120px;
	overflow: hidden;
	border-radius: 100%;
}

.people-avatar-img{height: 100%;}
.people-name{color: white;font-size: 2em;margin-top: 20px;}
.people-city{color: white;font-size: 1em;line-height: 1.3em;}
.people-city i{color: white;font-size: 1.3em;line-height: 1.3em;}
.depoiment-text {color: white;font-weight: lighter;font-size: 1.3em;text-align: justify;}
.depoiment-text p {margin: 0;}
#depoiments-slider{float: right;margin-top: -10px;}
#depoiments-slider a {float: left;margin: 0px 3px;}
#depoiments-slider a div{height: 15px;width:15px;border-radius: 100%;background: rgba(0,0,0,0.4);display: block;}
#depoiments-slider a.activeSlide div{background: white;}

#statistcs{
	width: 100%;
	height: 170px;
	padding: 40px 0px;
	background: #fff;
	color: #333;
	margin-top: 40px;
}

.statistc{text-align: center;font-size: 1.2em;}
.number{font-size: 2em;font-weight: bold;}



